    <div class="panel panel-warning">
      <div class="panel-heading">Admin - Warning!</div>
      <div class="panel-body">Please, know that changes you made to the system can not be rolled back.</div>
    </div>