<div id="sidebar-fj" class="container-fluid"> 
<!-- BEGIN SIDEBAR -->
	<div id="fj-filter" class="col-xs-2 col-lg-2">	
		 <div class="collapse navbar-collapse">
			<div>
				<ul>
				<li>
					<h4>Type</h4>
					<p></p>
					<div class="checkboxily">
						<label for="fja1"><input type="checkbox" id="fja1" /><span>Earrings</span></label>
						<label for="fja2"><input type="checkbox" id="fja2" /><span>Pendants</span></label>
						<label for="fja3"><input type="checkbox" id="fja3" /><span>Chains</span></label>
						<label for="fja4"><input type="checkbox" id="fja4" /><span>Bracelets</span></label>
						<label for="fja5"><input type="checkbox" id="fja5" /><span>Wedding Bands</span></label>
						<label for="fja6"><input type="checkbox" id="fja6" /><span>Solitaire Rings</span></label>
					</div>
				</li>
				<li>
					<h4>Metal</h4>
					<p></p>
					<div class="checkboxily">
						<label for="fjb1"><input type="checkbox" id="fjb1" /><span>10K Gold</span></label>
						<label for="fjb2"><input type="checkbox" id="fjb2" /><span>14K Gold</span></label>
						<label for="fjb3"><input type="checkbox" id="fjb3" /><span>18K Gold</span></label>
						<label for="fjb4"><input type="checkbox" id="fjb4" /><span>Tungsten</span></label>
					</div>
				</li>	
				<li>
					<h4>Color</h4>
					<p></p>
					<div class="checkboxily">
						<label for="fjc1"><input type="checkbox" id="fjc1" /><span>Yellow</span></label>
						<label for="fjc2"><input type="checkbox" id="fjc2" /><span>White</span></label>
						<label for="fjc3"><input type="checkbox" id="fjc3" /><span>Pink</span></label>
						<label for="fjc4"><input type="checkbox" id="fjc4" /><span>Black</span></label>
						<label for="fjc5"><input type="checkbox" id="fjc5" /><span>Blue</span></label>
						<label for="fjc6"><input type="checkbox" id="fjc6" /><span>Bronze</span></label>
						<label for="fjc7"><input type="checkbox" id="fjc7" /><span>Grey</span></label>
					</div>
				</li>	
				<li>
					<h4>Stone</h4>
					<p></p>
					<div class="checkboxily">
						<label for="fjd1"><input type="checkbox" id="fjd1" /><span>Cubic Zirconia</span></label>
						<label for="fjd2"><input type="checkbox" id="fjd2" /><span>Coloured Stone</span></label>
						<label for="fjd3"><input type="checkbox" id="fjd3" /><span>Diamond</span></label>
						<label for="fjd4"><input type="checkbox" id="fjd4" /><span>No Stone</span></label>
					</div>
				</li>	
				</ul>
			</div>
		</div>
	</div>
