<!-- BEGIN CONTENT -->
  <div id="content-tools" class="container-fluid"> 
<!-- BEGIN SIDEBAR -->
	<div class="accordion col-xs-2 col-lg-2">	
		  <div class="collapse navbar-collapse">
			<div class="opened-for-codepen">
				  <h1>Abrasives</h1><div></div>
				  <h1>Benches & Accessories</h1><div></div>
				  <h1>Brushes</h1><div></div>
				  <h1>Buffs</h1><div></div>
				  <h1>Burs</h1><div></div>
				  <h1>Casting</h1><div></div>
				  <h1>Cleaners</h1><div></div>
				  <h1>Diamond Tools & Supplies</h1><div></div>
				  <h1>Equipments</h1>
				  <div>
					<h2>Laser Welder Evo Series</h2><div></div>
					<h2>Laser R Writer</h2>
					<div>
						<h3>A Class</h3><div></div>
						<h3>B Class</h3><div></div>
						<h3>C Class</h3><div></div>
					</div>
					<h2>Galloni Pressovac</h2><div></div>
					<h2>Gravograph Ring Cube</h2><div></div>
				  </div>
				  <h1>Drills</h1><div></div>
				  <h1>Files</h1><div></div>
				  <h1>Gauges</h1><div></div>
				  <h1>Hammers</h1><div></div>
				  <h1>Hand Forming</h1><div></div>
				  <h1>Lamps</h1><div></div>
				  <h1>Magnifiers & Glasses</h1><div></div>
				  <h1>Plating</h1><div></div>
				  <h1>Pilers & Cutters</h1><div></div>
				  <h1>Polishing</h1><div></div>
				  <h1>Ring Tools</h1><div></div>
				  <h1>Rolling Mills</h1><div></div>
				  <h1>Sawblades & Sawframes</h1><div></div>
				  <h1>Scale & Weights</h1><div></div>
				  <h1>Setting & Engraving</h1><div></div>
				  <h1>Soldering Tools</h1><div></div>
				  <h1>Store Supplies</h1><div></div>
				  <h1>Testing Tools</h1><div></div>
				  <h1>Tweezers</h1><div></div>
				  <h1>Watch Tools</h1><div></div>
				  <h1>Waxes</h1><div></div>		
			</div>
			</div>
		</div>
		