<div id="sidebar-fj" class="container-fluid"> 
<!-- BEGIN SIDEBAR -->
	<div id="fj-filter" class="col-xs-2 col-lg-2">	
		 <div class="collapse navbar-collapse">
			<div>
				<ul>
				<li>
					  <label for="sel1"><h3>Type</h3></label>
					  <p></p>
					  <select class="form-control" id="sel1">
					  	<option>Settings</option>
						<option>Earring & Earring Parts</option>
						<option>Pendants & Bails</option>
						<option>Clasps</option>
						<option>Solders</option>
						<option>Wires</option>
						<option>Alloys</option>
						<option>Miscellaneous</option>

					  </select>
				</li>
				<li>
					<h3>Metal</h3>
					<p></p>
					<div class="checkboxily">
						<label for="c1"><input type="checkbox" id="c1" /><span>10K Gold</span></label>
						<label for="c2"><input type="checkbox" id="c2" /><span>14K Gold</span></label>
						<label for="c3"><input type="checkbox" id="c3" /><span>18K Gold</span></label>
						<label for="c4"><input type="checkbox" id="c4" /><span>Silver</span></label>
						<label for="c4"><input type="checkbox" id="c4" /><span>Non-Precious</span></label>
					</div>
				</li>	
				<li>
					<h3>Color</h3>
					<p></p>
					<div class="checkboxily">
						<label for="c5"><input type="checkbox" id="c5" /><span>Yellow</span></label>
						<label for="c6"><input type="checkbox" id="c6" /><span>White</span></label>
						<label for="c7"><input type="checkbox" id="c7" /><span>Pink</span></label>
						<label for="c8"><input type="checkbox" id="c8" /><span>2 tone</span></label>
					</div>
				</li>		
				</ul>
			</div>
		</div>
	</div>
