<div id="sidebar-fj" class="container-fluid"> 
<!-- BEGIN SIDEBAR -->
	<div id="fj-filter" class="col-xs-2 col-lg-2">	
		 <div class="collapse navbar-collapse">
			<div>
				<ul>
				<li>
					  <label for="sel1"><h3>Type</h3></label>
					  <p></p>
					  <select class="form-control" id="sel1">
						<option>Earrings</option>
						<option>Pendants</option>
						<option>Chains</option>
						<option>Bracelets</option>
						<option>Wedding Bands</option>
						<option>Solitaire Rings</option>
					  </select>
				</li>
				<li>
					<h3>Metal</h3>
					<p></p>
					<div class="checkboxily">
						<label for="c1"><input type="checkbox" id="c1" /><span>10K Gold</span></label>
						<label for="c2"><input type="checkbox" id="c2" /><span>14K Gold</span></label>
						<label for="c3"><input type="checkbox" id="c3" /><span>18K Gold</span></label>
						<label for="c4"><input type="checkbox" id="c4" /><span>Tungsten</span></label>
					</div>
				</li>	
				<li>
					<h3>Color</h3>
					<p></p>
					<div class="checkboxily">
						<label for="c5"><input type="checkbox" id="c5" /><span>Yellow</span></label>
						<label for="c6"><input type="checkbox" id="c6" /><span>White</span></label>
						<label for="c7"><input type="checkbox" id="c7" /><span>Pink</span></label>
						<label for="c8"><input type="checkbox" id="c8" /><span>Black</span></label>
						<label for="c9"><input type="checkbox" id="c9" /><span>Blue</span></label>
						<label for="c10"><input type="checkbox" id="c10" /><span>Bronze</span></label>
						<label for="c11"><input type="checkbox" id="c11" /><span>Grey</span></label>
					</div>
				</li>	
				<li>
					<h3>Stone</h3>
					<p></p>
					<div class="checkboxily">
						<label for="c12"><input type="checkbox" id="c12" /><span>Cubic Zirconia</span></label>
						<label for="c13"><input type="checkbox" id="c13" /><span>Coloured Stone</span></label>
						<label for="c14"><input type="checkbox" id="c14" /><span>Diamond</span></label>
						<label for="c15"><input type="checkbox" id="c15" /><span>No Stone</span></label>
					</div>
				</li>	
				</ul>
			</div>
		</div>
	</div>
